<div class="content">
  <%= render "layouts/flash", flash: flash %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="blue">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Table:</span>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="pull-right">
                      <%= link_to admin_kanjis_path(format: "csv"), data: {original_title: "export csv"} do %>
                        <i class="material-icons">edit</i>
                        <%= t ".csv" %>
                      <div class="ripple-container"></div>
                      <% end %>
                    </li>
                    <li class="">
                      <i class="material-icons">list</i>
                        <%= t ".title" %>
                      <div class="ripple-container"></div></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><%= t ".id" %></th>
                  <th><%= t ".lesson" %></th>
                  <th><%= t ".kanji" %></th>
                  <th><%= t ".onyomi" %></th>
                  <th><%= t ".kunyomi" %></th>
                  <th><%= t ".vietnamese" %></th>
                  <th><%= t ".example" %></th>
                  <th><%= t ".created_at" %></th>
                  <th><%= t ".action" %></th>
                </tr>
              </thead>
              <tbody>
                <% @kanjis.each_with_index do |kanji, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td><%= kanji.lesson&.name %></td>
                    <td><%= kanji.character %></td>
                    <td><%= kanji.onyomi %></td>
                    <td><%= kanji.kunyomi %></td>
                    <td><%= kanji.vietnamese %></td>
                    <td><%= kanji.example %></td>
                    <td>
                      <%= kanji.created_at.strftime("%F") %>
                    </td>
                    <td class="td-actions text-center">
                      <%= link_to admin_kanji_path(kanji), class:"btn btn-info btn-simple btn-icon",
                        data: {original_title: "View"} do %>
                        <i class="fa fa-image"></i>
                      <% end %>
                      <%= link_to edit_admin_kanji_path(kanji), class:"btn btn-success btn-simple btn-icon",
                        data: {original_title: "Edit"}, remote: true do %>
                        <i class="fa fa-edit"></i>
                      <% end %>
                      <button type="button" rel="tooltip" data-placement="left" data-value="<%= kanji.id %>"
                        class="btn btn-danger btn-simple btn-icon btn-delete-kanji" data-original-title="Remove">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
