<div class="modal fade addLessonAdmin" id="addLesson" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modalAddlesson modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          <%= t ".title" %>
        </h4>
      </div>
      <%= form_for [:admin, lesson], multipart: true do |f| %>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3">
              <label><%= t ".category" %></label>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <%= f.collection_select :category_id, categories, :id, :name, {prompt: false},
                  {class: "form-control"} %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3">
                <label><%= t ".name" %></label>
              </div>
              <div class="col-md-8">
                <%= f.text_field :name, class: "form-control",  placeholder: t(".placeholder_name"), required: true %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-3">
                <label><%= t ".description" %></label>
              </div>
              <div class="col-md-8">
                <%= f.text_field :description, class: "form-control",  placeholder: t(".placeholder_description"), required: true %>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-nav-tabs">
          <div class="card-header" data-background-color="blue">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Tasks:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="active">
                    <a href="#kanji" data-toggle="tab" aria-expanded="false">
                      <i class="material-icons">code</i>
                        Lesson kanji
                      <div class="ripple-container"></div></a>
                  </li>
                  <li class="">
                    <a href="#vocabulary" data-toggle="tab" aria-expanded="true">
                      <i class="material-icons">cloud</i>
                        Lesson vocabularies
                      <div class="ripple-container"></div></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-content modal-lesson-content">
            <div class="tab-content">
              <div class="tab-pane active" id="kanji">
                <div class="row importCSV">
                  <div class="checkbox col-md-1">
                    <label>
                      <input type="checkbox" name="optionsCheckboxes" id="checkboxImportKanji">
                      <span class="checkbox-material"><span class="check"></span></span>
                    </label>
                  </div>
                  <div class="col-md-2">
                    <%= f.file_field :file_kanji, accept: ".csv", class:"btn btn-info btn-xs button", title: "Upload file",
                      disabled: true, id: "importKanji" %>
                  </div>
                </div>
                <div class="lesson_kanji_form content-block-input-clones">
                  <div class="card input-form-kanji clone-item">
                    <div class="row">
                      <div class="col-md-1 pull-right">
                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs remove-clone"
                          data-original-title="Remove" data-value="1">
                        <i class="material-icons">close</i>
                        <div class="ripple-container"></div></button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".character" %></label>
                          <%= text_field_tag "lesson[kanjis_attributes][0][character]", nil, id:"kanji_character",
                            class: "form-control", required: true  %>
                          <span class="material-input"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".vietnamese" %></label>
                          <%= text_field_tag "lesson[kanjis_attributes][0][vietnamese]", nil, id:"kanji_vietnamese",
                            class: "form-control" %>
                          <span class="material-input"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".kunyomi" %></label>
                          <%= text_field_tag "lesson[kanjis_attributes][0][kunyomi]", nil, id:"kanji_kunyomi",
                            class: "form-control" %>
                          <span class="material-input"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".onyomi" %></label>
                          <%= text_field_tag "lesson[kanjis_attributes][0][onyomi]", nil, id:"kanji_onyomi",
                            class: "form-control" %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".example" %></label>
                          <%= text_field_tag "lesson[kanjis_attributes][0][example]", nil, id:"kanji_example",
                            class: "form-control" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-info btn-xs btn-add-lesson-kanji"
                  data-original-title="Add" ">
                  <i class="material-icons">add</i>
                <div class="ripple-container"></div></button>
              </div>
              <div class="tab-pane" id="vocabulary">
                <div class="row importCSVVoca">
                  <div class="checkbox col-md-1">
                    <label>
                      <input type="checkbox" name="optionsCheckboxes" id="checkboxImportVocabulary">
                      <span class="checkbox-material"><span class="check"></span></span>
                    </label>
                  </div>
                  <div class="col-md-2">
                    <%= f.file_field :file_voca, accept: ".csv", class:"btn btn-info btn-xs button", title: "Upload file",
                      disabled: true, id: "importVoca" %>
                  </div>
                </div>
                <div class="lesson_voca_form content-block-input-clones">
                  <div class="card input-form-voca clone-item">
                    <div class="row">
                      <div class="col-md-1 pull-right">
                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs remove-clone"
                          data-original-title="Remove" data-value="1">
                        <i class="material-icons">close</i>
                        <div class="ripple-container"></div></button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".character" %></label>
                          <%= text_field_tag "lesson[vocabularies_attributes][0][japanese]", nil, id:"voca_japanese",
                            class: "form-control" %>
                          <span class="material-input"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".vietnamese" %></label>
                          <%= text_field_tag "lesson[vocabularies_attributes][0][vietnamese]", nil, id:"voca_vietnamese",
                            class: "form-control" %>
                          <span class="material-input"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".romaji" %></label>
                          <%= text_field_tag "lesson[vocabularies_attributes][0][romaji]", nil, id:"voca_romaji",
                            class: "form-control" %>
                          <span class="material-input"></span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label><%= t ".image" %></label>
                        <%= file_field_tag "lesson[vocabularies_attributes][0][image]", id:"voca_image", title: "Upload file" %>
                      </div>
                      <div class="col-md-3">
                        <label><%= t ".sound" %></label>
                        <%= file_field_tag "lesson[vocabularies_attributes][0][audio]", id:"voca_audio", title: "Upload file" %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".description" %></label>
                          <%= text_field_tag "lesson[vocabularies_attributes][0][description]", nil, id:"voca_description",
                            class: "form-control" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-info btn-xs btn-add-lesson-voca"
                  data-original-title="Add">
                  <i class="material-icons">add</i>
                <div class="ripple-container"></div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <%= t ".btn_close" %></button>
          <button type="submit" class="btn btn-info"><%= t ".btn_add_category" %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>

