<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">assignment</i>
            <p class="category">grammar</p>
          </div>
          <div class="card-content">
            <h3 class="title">
              <%= @lesson.grammars.size %><small>grammars</small></h3>
              <%= link_to "Add New Grammar", new_admin_grammar_path(lesson_id: @lesson.id), class:"btn btn-success" %>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <%= link_to "Get more details", admin_grammars_path %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">ondemand_video</i>
            <p class="category">Video</p>
          </div>
          <div class="card-content">
            <h3 class="title">
              <%= @lesson.videos.size %><small>video</small></h3>
              <%= link_to "Add New Video", new_admin_video_path(lesson_id: @lesson.id), class:"btn btn-success" %>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>
              <%= link_to "Get more details", admin_videos_path(lesson_id: @lesson.id) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="red">
            <i class="material-icons">translate </i>
            <p class="category">Kanji</p>
          </div>
          <div class="card-content">
            <h3 class="title">
              <%= @lesson.kanjis.size %><small>Kanji</small></h3>
              <%= link_to "Add New Kanji", new_admin_kanji_path(lesson_id: @lesson.id), class:"btn btn-success", remote: true %>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">local_offer</i>
              <%= link_to "Get more details", admin_kanjis_path(lesson_id: @lesson.id) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="material-icons">import_contacts</i>
            <p class="category">vocabulary</p>
          </div>
          <div class="card-content">
            <h3 class="title">
              <%= @lesson.vocabularies.size %><small>vocabularies</small></h3>
              <%= link_to "Add New Kanji", new_admin_vocabulary_path(lesson_id: @lesson.id), class:"btn btn-success", remote: true %>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i>
              <%= link_to "Get more details", admin_vocabularies_path(lesson_id: @lesson.id) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="material-icons">question_answer</i>
            <p class="category">vocabulary</p>
          </div>
          <div class="card-content">
            <h3 class="title">
              <%= @lesson.tests.size %><small>Tests</small></h3>
              <%= link_to "Add New Kanji", new_admin_test_path(lesson_id: @lesson.id), class:"btn btn-success", remote: true %>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i>
              <%= link_to "Get more details", admin_tests_path(lesson_id: @lesson.id) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Edit Lesson</h4>
        </div>
        <div class="card-content">
          <%= form_for [:admin, @lesson] do |f| %>
            <div class="row">
              <div class="col-md-3">
                <label><%= t ".category" %></label>
              </div>
              <div class="col-md-8">
                <div class="dropdown">
                  <%= f.collection_select :category_id, @categories, :id, :name, prompt: false,
                  class: "btn btn-info dropdown-toggle caret" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3">
                  <label><%= t ".name" %></label>
                </div>
                <div class="col-md-8">
                  <%= f.text_field :name, class: "form-control",  placeholder: t(".placeholder_name"), required: true %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-3">
                  <label><%= t ".description" %></label>
                </div>
                <div class="col-md-8">
                  <%= f.text_field :description, class: "form-control",  placeholder: t(".placeholder_description"), required: true %>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success pull-right"><%= t ".btn_update_lesson" %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



