<div class="content">
  <%= render "layouts/flash", flash: flash %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header" data-background-color="blue">
            <h4 class="title"><%= t ".list_category" %></h4>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= link_to t(".btn_add_lesson"), new_admin_lesson_path,
                class: "btn btn-info", remote: true %>
            </div>
            <div class="pull-right">
              <%= render "search_form" %>
            </div>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-center">
                <th><%= t ".id" %></th>
                <th>
                  <%= sort_link @search_lesson, :category_id, t(".category") %>
                </th>
                <th>
                  <%= sort_link @search_lesson, :name, t(".name") %>
                </th>
                <th><%= t ".description" %></th>
                <th>
                  <%= sort_link @search_lesson, :name, t(".created_at") %>
                </th>
                <th><%= t ".action" %></th>
              </thead>
              <tbody>
                <% @lessons.each_with_index do |lesson, index| %>
                  <tr id="lesson-<%= lesson.id %>">
                    <td><%= index + 1 %></td>
                    <td><%= lesson.category&.name %></td>
                    <td><%= lesson.name %></td>
                    <td><%= lesson.description %></td>
                    <td><%= lesson.created_at.strftime("%m/%d/%Y") %></td>
                    <td class="text-center">
                      <%= link_to edit_admin_lesson_path(lesson), class: "btn btn-info btn-simple btn-xs",
                        data: {original_title: "Edit"}, remote: true do %>
                        <i class="material-icons info">edit</i>
                      <% end %>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs btn-delete-lesson"
                        data-original-title="Remove" data-value="<%= lesson.id %>">
                        <i class="material-icons">close</i>
                      <div class="ripple-container"></div></button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @lessons %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
