<div class="modal fade" id="addVocabulary" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modalAddlesson modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <%= form_for [:admin, vocabulary], multipart: true do |f| %>
        <div class="card card-nav-tabs">
          <div class="card-header" data-background-color="blue">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <h4 class="modal-title" id="myModalLabel">
                  <%= t ".title" %>
                </h4>
              </div>
            </div>
          </div>
          <div class="card-content modal-kanji-content">
            <div class="tab-content">
              <div class="tab-pane active" id="vocabulary">
                <div class="row importCSVVoca">
                  <div class="checkbox col-md-1">
                    <label>
                      <input type="checkbox" name="optionsCheckboxes" id="checkboxImportVocabulary">
                      <span class="checkbox-material"><span class="check"></span></span>
                    </label>
                  </div>
                  <div class="col-md-2">
                    <%= f.file_field :file, accept: ".csv", class:"btn btn-info btn-xs button", title: "Upload file",
                      disabled: true, id: "importVoca" %>
                    <%= f.hidden_field :lesson_id, value: lesson_id %>
                  </div>
                </div>
                <div class="lesson_voca_form content-block-input-clones">
                  <div class="card input-form-voca clone-item">
                    <div class="row">
                      <div class="col-md-1 pull-right">
                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs remove-clone"
                          data-original-title="Remove" data-value="1">
                        <i class="material-icons">close</i>
                        <div class="ripple-container"></div></button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".japanese" %></label>
                          <%= f.text_field :japanese, id:"voca_japanese",
                            class: "form-control" %>
                          <span class="material-input"></span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".vietnamese" %></label>
                          <%= f.text_field :vietnamese, id:"vietnamese",
                            class: "form-control" %>
                          <span class="material-input"></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".romaji" %></label>
                          <%= f.text_field :romaji, id:"romaji",
                            class: "form-control" %>
                          <span class="material-input"></span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label><%= t ".image" %></label>
                        <%= f.file_field :image, id:"voca_image", title: "Upload file" %>
                      </div>
                      <div class="col-md-3">
                        <label><%= t ".sound" %></label>
                        <%= f.file_field :audio, id:"voca_audio", title: "Upload file" %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group label-floating is-empty">
                          <label class="control-label"><%= t ".description" %></label>
                          <%= f.text_field :description, id:"description",
                            class: "form-control" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-info btn-xs btn-add-lesson-voca"
                  data-original-title="Add" ">
                  <i class="material-icons">add</i>
                <div class="ripple-container"></div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            <%= t ".btn_close" %></button>
          <button type="submit" class="btn btn-info"><%= t ".btn_add_category" %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>

