<div class="modal fade addQuestion" id="addQuestion" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modalAddlesson modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h2 class="modal-title" id="myModalLabel">
          <small><%= t ".title" %></small>
        </h2>
      </div>
      <div class="modal-body">
        <%= form_for [:admin, question], multipart: true do |f| %>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
          <%= f.hidden_field :test_id, value: test_id %>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <h3><small><%= t ".content" %></small></h3>
              </div>
              <div class="col-md-8">
                <%= f.text_area :content, class: "form-control", required: true %>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" data-background-color="blue">
              <p class="title"><%= t ".answer" %></p>
            </div>
            <div class="card-content contentAnswer content-block-input-clones">
              <div class="card card-stats answersForm clone-item ">
                <div class="card-content answerFormInput">
                  <div class="col-md-1 pull-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs remove-clone"
                      data-original-title="Remove" data-value="1">
                    <i class="material-icons">close</i>
                    <div class="ripple-container"></div></button>
                  </div>
                  <h5 class="title pull-left"><%= t ".answer1"%></h5>
                  <div class="form-group">
                    <%= text_field_tag "question[answers_attributes][0][content]", nil, id:"content",
                      class: "form-control", required: true %>
                    <div class="radio blue">
                      <label>
                        <%= hidden_field_tag "question[answers_attributes][0][is_correct]", false, id:"input_is_correct" %>
                        <%= radio_button_tag "question[answers_attributes][0][is_correct]", true, false, id:"is_correct" %>
                        <%= t ".correct_answer" %>
                      </label>
                    </div>
                    <%= %>
                  </div>
                </div>
                </br>
              </div>
            </div>
            <button type="button" class="btn btn-info btn-xs btn-add-question"
              data-original-title="Add" ">
              <i class="material-icons">add</i>
            <div class="ripple-container"></div><%= t ".add_new_answer" %></button>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <%= t ".btn_close" %></button>
            <button type="submit" class="btn btn-info"><%= t ".btn_add_question" %></button>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

