<%= form_for [:admin, @grammar] do |f| %>
  <div class="card-content">
    <div id="typography">
      <div class="form-group">
        <label>title</label>
        <%= f.text_field :title, class: "form-control",  placeholder: t(".title"), required: true %>
        <span class="material-input"></span>
      </div>
      <div class="form-group">
        <label><%= t ".lesson" %></label>
        <div class="dropdown">
          <%= f.collection_select :lesson_id, @lessons, :id, :name, prompt: false,
            class: "btn btn-info dropdown-toggle caret" %>
        </div>
        <span class="material-input"></span>
      </div>
    </div>
    <div>
      <%= f.label :content %><br>
      <%= f.text_area :content, class: "ckeditor" %>
    </div>
    <button class="btn btn-success pull-right"><%= t ".btn_submit" %></button>
  </div>
<% end %>
