<div class="content">
  <%= render "layouts/flash", flash: flash %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card card-nav-tabs">
            <div class="card-header" data-background-color="blue">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Table:</span>
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active pull-right">
                      <%= link_to new_admin_test_path, data: {original_title: "New"}, remote: true  do %>
                        <i class="material-icons">bug_report</i>
                        <%= t ".btn_add_test" %>
                      <div class="ripple-container"></div>
                      <% end %>
                    </li>
                    <li class="">
                      <i class="material-icons">list</i>
                        <%= t ".list_test" %>
                      <div class="ripple-container"></div></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="pull-right">
              <%= render "search_form" %>
            </div>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead class="text-center">
                <th><%= t ".id" %></th>
                <th>
                  <%= sort_link @search_test, :lesson_id, t(".lesson") %>
                </th>
                <th>
                  <%= sort_link @search_test, :name, t(".name") %>
                </th>
                <th><%= t ".description" %></th>
                <th>
                  <%= sort_link @search_test, :created_at, t(".created_at") %>
                </th>
                <th><%= t ".action" %></th>
              </thead>
              <tbody>
                <% @tests.each_with_index do |test, index| %>
                  <tr id="test-<%= test.id %>">
                    <td><%= index + 1 %></td>
                    <td><%= test.lesson&.name %></td>
                    <td><%= test.name %></td>
                    <td><%= test.description %></td>
                    <td><%= test.created_at.strftime("%m/%d/%Y") %></td>
                    <td class="text-center">
                      <%= link_to edit_admin_test_path(test), class: "btn btn-info btn-simple btn-xs",
                        data: {original_title: "Edit"}, remote: true do %>
                        <i class="material-icons info">edit</i>
                      <% end %>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs btn-delete-test"
                        data-original-title="Remove" data-value="<%= test.id %>">
                        <i class="material-icons">close</i>
                      <div class="ripple-container"></div></button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @tests %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
